---
import { getCollection } from "astro:content";
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
import Post from '../components/Post.astro';
import PostList from '../components/PostList.astro';

const posts = (await getCollection("posts")).slice(0, 4);
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Rhythm Nation blog">
	

<Main>
	<H1 text="Rhythm Nation Blog" />
	<PostList posts={posts} />
	

</Main>
	
</Layout>